$primary: #f4994b;

@import '~bootstrap/scss/bootstrap';

.main {
  padding-top: 20px;
}

.form-group {
  .has-error {
    background-color: #ffeeee;
    border: 2px solid #666
  }
  .form-data-error {
    display: none;
    padding: 2px;
    margin-left: 5px;
    border: 1px solid red;
  }
}

@import './modules.scss';
@import './toastr.scss';
