
.index-title-row {}
.index-new-button {
  a {
    color: #ffffff;
  }
}
.index-table {
  .index-table-head-row {}
  .index-table-head {}
  .index-table-data {}
  .index-actions-column {
    .col {
      padding: 0px;
      width: auto;
    }
    a, span {
      margin-left: 5px
    }
    a:first-of-type {
      margin-left: 0px;
    }
  }
  .index-actions-delete {
    color: $primary;
  }
  .index-actions-edit {}
  .index-actions-show {}
}

.edit-back-button {}
.new-back-button {}

.form-div {
  .form-title-row {
    .form-title {}
  }

  .form-data-error {}
  .form-data {}
  .form-submit {}
}

.view-table {
  .view-table-head {}
  .view-table-data {}
  .related-table {
    .related-table-data {}
  }
}

// append lines for each module
